image:
  name: architechlabs/php-tools
  username: $DOCKER_HUB_USERNAME
  password: $DOCKER_HUB_PASSWORD

pipelines:
  default:
    - parallel:
        - step:
            name: Code Style
            script:
              - composer install
              - vendor/bin/php-cs-fixer fix
                  --config conf/.php-cs-fixer.php
                  --diff
                  --dry-run
                  src/ test/
            caches:
              - composer
        - step:
            name: Lint
            script:
              - composer install
              - ./vendor/bin/phplint . --exclude=vendor
            caches:
              - composer
        - step:
            name: Static Analyser
            script:
              - composer install
              - vendor/bin/phpstan analyse --level 8 src/ test/
            caches:
              - composer
        - step:
            name: Test
            script:
              - composer install
              -  ./vendor/bin/phpunit test
            caches:
              - composer
