includes:
    - ../../../phpstan/phpstan-phpunit/extension.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        -
            identifier: missingType.iterableValue
